@font-face {
    font-family: monaspace-neon;
    src: url('/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2') format('woff2'),
    url('/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff') format('woff');
    font-weight: 200 800;
    font-stretch: 100% 125%;
}

:root {
    --link: #007FEE;
    --border: #a89f94;
    --bg-white: #efebea;
    --fg-primary: #000000;
    --fg-secondary: #605a56;
    --fg-secondary-strong: #3c3a38;
    --accent-blue: #3C4FCE;
    --accent-orange: #F06449;
    --accent-green: #4D9480;
}

body {
    padding: 0 1rem;
    font-family: monaspace-neon, sans-serif;
    background-color: var(--bg-white);
}

@media (max-width: 600px) {
    body {
        padding: 0 0.25rem;
    }
}

main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-size: larger;
}

h3 {
    margin: 0;
    font-size: large;
}

.title-margin {
    margin: 2rem 0 1rem 0;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.05em;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 1.5;
}

a {
    color: var(--link);
}

li {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.05em;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}

li:last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--border);
}

.bold {
    font-variation-settings: "wght" 600;
}

.light {
    font-variation-settings: "wght" 200;
}

.secondary {
    /*font-size: 0.85rem;*/
    color: var(--fg-secondary);
}

.secondary strong {
    color: var(--fg-secondary-strong);
}

.accent-blue {
    color: var(--accent-blue);
}

.accent-orange {
    color: var(--accent-orange);
}

.container {
    padding: 0 2rem;
}

.margin-top {
    margin: 2rem 0 0 0;
}

.margin-bottom {
    margin: 0 0 2rem 0;
}

.margin-vertical {
    margin: 2rem 0;
}

.bordered {
    border: 1px solid var(--border);
}

.strong-bordered {
    border: 2px solid var(--accent-orange);
}

.container.bordered {
    padding: 2rem;
}

.container.strong-bordered {
    padding: calc(2rem - 1px);
}

p img {
    height: 1em;
}

p strong {
    color: var(--accent-orange);
    font-variation-settings: "wght" 600;
}

ul.bordered {
    list-style: url('data:image/svg+xml;utf8,<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><polygon points="2,0 8,6 2,12" fill="%23A89F94"/></svg>');
    padding: 1rem;
}

li strong {
    font-variation-settings: "wght" 600;
}

.local-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px var(--border);
    transition: border-bottom-color, border-bottom-width 0.2s ease;
}

.local-link:hover {
    border-bottom: solid 2px var(--accent-orange);
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
