---
import Page from "../layouts/Page.astro";
---

<Page title="Resume - Leonardo Corona-Garza">
    <p class="container" style="margin-top: 5rem;">Redirecting to <a href="/files/leonardo-resume.pdf">resume file</a>...</p>
    <script>
        window.location.href = "/files/leonardo-resume.pdf";
    </script>
</Page>
