---
import "../../styles/global.css";
import Page from "../../layouts/Page.astro";
---

<Page title="Semitones">
    <div class="flex-centered" style="margin: 5rem 0;">
        <h1>Semitones - Chromatic Tuner</h1>
        <h2>Privacy Policy</h2>
    </div>

    <div class="container bordered margin-top">
        <p>
            Semitones does not collect, store, or share any personal data.<br><br>
            The app requests microphone access solely to analyze audio in real time for pitch detection. All audio processing happens locally on your device — no recordings are stored or transmitted.<br><br>
            We respect your privacy.<br><br>
            If you have any questions, feel free to contact us at <a href="mailto:leocoronag@gmail.com">leocoronag@gmail.com</a>.
        </p>
    </div>
</Page>
