---
import "../../styles/global.css";
import Page from "../../layouts/Page.astro";
---

<Page title="Semitones">
    <div class="flex-centered" style="margin: 5rem 0;">
        <h1>Semitones - Chromatic Tuner</h1>
        <h2>Support</h2>
    </div>

    <div class="container margin-top">
        <p>
            Thanks for using Semitones – Chromatic Tuner!<br><br>
            If you’re experiencing issues, have suggestions, or just want to share feedback, we’d love to hear from you. Your input helps make Semitones better for everyone.
            Feel free to contact us at <a href="mailto:leocoronag@gmail.com">leocoronag@gmail.com</a>.
        </p>
    </div>

    <div class="container bordered margin-top">
        <h2>Frequently Asked Questions</h2>
        <p class="margin-top">
            <strong>Q: Why isn’t the tuner detecting any sound?</strong><br>
            A: Make sure that the microphone toggle at the bottom of the app screen is enabled. Check that microphone access is granted and that your environment isn’t too noisy. You can also try adjusting the noise gate in the app settings.<br><br>

            <strong>Q: What is the instrument feature for?</strong><br>
            A: Selecting an instrument does not change the tuning algorithm, but it helps the app display the correct note names and tuning references for that instrument. Useful for musicians & learners.
        </p>
    </div>
</Page>
